.user-info {
  padding: 8px 24px;

  table td {
    padding: 0.3em;
    padding-right: 2em;

    &:first-child {
      font-style: italic;
    }
  }

  .link-container {
    text-align: right;

    a {
      display: inline-block;
      padding: 0.5em 1em;
      text-decoration: none;
      color: #777;

      &:hover {
        text-decoration: underline;
        color: #333;
      }
    }
  }
}
